@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 1rem;
    line-height: 1.3em;
    letter-spacing: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*
*===============
Reset Geral 
*===============
*/
:root {
    font-size: 100%;
}

html,
body {
    font-family: 'Saira', sans-serif;
    font-weight: normal;
    background: #FBFBFB;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/*
*===============
Reset Geral 
*===============
*/
.header {
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 10px #DDD;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    font-family:'Covered By Your Grace',cursive;
    position: relative;
    z-index: 50;
}.header h1 span{
    color: #171717;
    font-size: 1.5rem;
}
.header h1::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background: #a8ff78;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    left: 0px;
    top: 1px;
    transform: rotate(-45deg);
    z-index: -1
}
.menu-principal {
    display: flex;
    gap: 40px;
    align-items: center;
}

.menu-principal a {
    padding: 10px 0;
    color: #FFF;
    position: relative;
}

.menu-principal a::after {
    content: "";
    position: absolute;
    display: block;
    margin-top: 5px;
    width: 0%;
    height: 3px;
    background: #fff;
    transition: all .3s linear;
}

.menu-principal a:hover::after {
    width: 100%;
}
/*
*===============
Dashboard
*===============
*/

.dashboard {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
}

/*
*===============
Dashboard avatar
*===============
*/

.dash-avatar{}
.avatar{
    min-width: 230px;
    text-align: center;
    padding: 30px 10px;
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #FFF;
    display: inline-block;
    margin-bottom: 10px;
}

.avatar h2 {
    font-size: 0.9rem !important;
    color: #FFF;
    font-weight: normal;
}

/*
*===============
Dashboard menu principal
*===============
*/
.dash-menu{
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0 0 5px 5px;
    text-align: left;
    padding-bottom: 20px;
}
.dash-menu li{
    background: rgba(255,255,255, 0.2);
    margin-bottom: 2px;
}
.dash-menu i{
    margin-right: 5px;
}
.dash-menu a {
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    color: #FFF;
    transition: all .3s linear;
}

.dash-menu a:hover{
    background-color: #FFF;
    color: #171717;
    border-left: 20px solid #ff9068;
}

/*
*===============
Dashboard conteudo geral
*===============
*/
.dash-conteudo{
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #DDD;
}

/*
*===============
Dashboard conteudo titulo
*===============
*/

.inicio-conteudo h2 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #06beb6;
}
.inicio-conteudo .title-geral{
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.inicio-conteudo div a{
    padding: 10px 15px;
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-block;
    color: #FFF;
    border: none;
    border-radius: 4px;
}
.title-form{
    grid-column: 1 / -1;
}
.title-form span {
    display: block !important;
    color: red !important;
}
.title-form p {
    margin: 10px 0;
    padding: 10px;
    background-color: #f1f1f1;
    border-left: 5px solid #33B86C !important;
    display: block;
}


.inicio-conteudo form input, select, textarea {
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 50px;
    padding: 15px;
    background-color: #f8f8f8;
}

.inicio-conteudo textarea {
    width: 100%;
    max-height: 500px;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin-bottom: 20px;
}

::placeholder {
    font-size: 1.2rem;
}

.inicio-conteudo button {
    padding: 16px 20px;
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    color: #FFF;
    border: none;
    border-radius: 4px;
}


/*
*===============
Dashboard formulario experiencia
*===============
*/
.formulario-experiencia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.formulario-experiencia input, select{
    width: 100%;
    margin-bottom: 10px !important;
}
.col-100{
    grid-column: 1 / -1;
}
.lista-checbox{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    align-items: flex-start;
    gap: 20px;
}

.lista-checbox div{
    background: #F2F2F2 !important;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center !important;
    gap: 10px;
}
.lista-checbox input[type="checkbox"]{
    width: auto;
    margin-top: 8px;
}