.introducao {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.introducao-item {
    width: 100%;
    padding: 50% 0;
    margin: 20px;
    border-radius: 100%;
    background: #00b09b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    transform-origin: center !important;
}

.introducao-item h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.8rem;
}

.introducao-item::after {
    content: "";
    display: block;
    position: absolute;
    width: 110%;
    height: 110%;
    border-radius: 50%;
    top: -5%;
    left: -5%;
    border-left: 1px solid #96c93d;
    transform-origin: center !important;
    animation: header-giro 5s linear infinite;
}

.introducao-infor h1 {
    font-size: 4.5rem;
    margin-bottom: 30px;
    position: relative;
}

.introducao-infor p {
    font-size: 1.2rem;
    color: #525252;
}

.introducao-infor h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: #00b09b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96c93d, #00b09b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    transform: rotate(30deg);
    top: -5px;
    left: -15px;
    z-index: -1;
}

@keyframes header-giro {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1000px) {
    .introducao-infor h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }
    .introducao-infor h1::before {
        width: 40px;
        height: 5px;
        border-radius: 2px;
        top: -10px;
        left: 0px;
        transform: rotate(0deg);
    }
    .introducao-infor h1 {
        font-size: 2rem;
    }
    .introducao-item h2 {
        font-size: 0.9rem !important;
        letter-spacing: 0.5rem;
    }
}

@media (max-width: 540px) {
    .introducao-item h2 {
        font-size: 0.7rem !important;
        letter-spacing: 0.3rem;
    }
}

@media (max-width: 500px) {
    .introducao-container {
        background: #00b09b;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #96c93d, #00b09b);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .introducao {
        grid-template-columns: 1fr !important;
        margin-bottom: 20px;
    }
    .introducao-img {
        display: none;
    }
    .introducao-infor h1 {
        font-size: 2.8rem;
    }
    .introducao-infor p {
        color: #FFF;
    }
}